.file {
    margin-top: 8px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.file-icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;

    img {
        width: 14px;
        height: 14px;
    }
}