.dashboard {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    section {
        box-sizing: border-box;
        background-color: var(--surface-background);
        border-radius: 8px;
        padding: 12px;
        box-shadow: 0px 0px 4px 2px rgba(#000, 0.1);

        h3 {
            margin-bottom: 12px;
        }

        .income, .label {
            color: var(--text-color);
        }

        text {
            fill: var(--text-color);
        }
    }

    .custom-tooltip {
        background-color: var(--surface-background);
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 2px rgba(#000, 0.1);
        font-weight: 400;

        .target-leads {
            color: #0099CC;
            //font-weight: 500;
        }

        .actual-leads {
            color: #00CCB5;
            //font-weight: 500;
        }
    }

    .line-chart-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .valueDeals {
        grid-area: 1 / 1 / 2 / 2;

        .gauge-chart {
            width: 100%;
            display: flex;
            justify-content: center;
            
            #value-deals-gauge {
                color: var(--text-color) !important;
            }

            svg {
                height: 200px;
                width: 100%;

                text {
                    font-size: 20px !important;
                }
            }

        }
    }

    .contacts {
        grid-area: 1 / 2 / 2 / 4;
    }

    .incomeDevelopment {
        grid-area: 2 / 1 / 3 / 2;
        font-weight: 500;

        tspan {
            font-size: 14px;
            color: var(--text-color);
        }
    }

    .leadDevelopment {
        grid-area: 2 / 2 / 3 / 3;
        font-weight: 500;

        tspan {
            font-size: 14px;
            color: var(--text-color) !important;
        }
    }

    .leadsByStatus {
        grid-area: 2 / 3 / 3 / 4;

        .pie-chart-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .recharts-legend-wrapper {
                width: 55% !important;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                background-color: var(--legend-wrapper);
            }
        }
    }

    .documents {
        grid-area: 3 / 1 / 4 / 4;;
    }

    .openProjects {
        grid-area: 1 / 4 / 4 / 5;

        ul {
            list-style: none;

            li {
                width: 100%;
                height: 48px;
            }
        }
    }

    .mini-table-container {
        max-height: calc((100vh - 332px) / 3); /* Set the maximum height of the container */
        overflow-y: auto; /* Enable vertical scrollbar when content overflows */
        scrollbar-width: none;
        max-height: calc(4 * 36px + 1px);
    }
    
    .mini-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .mini-table th,
    .mini-table td {
        padding: 8px;
        border: 1px dashed #ddd;
        text-align: left;
        height: 36px;
        background-color: var(--on-surface);
    }
    
}